{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flask - 看看{{ user.username }}关注了那些人{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}关注了下面这些用户</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>用户名</th><th>时间</th></tr></thead>
    {% for follow in follows %}
    {% if user != follow.user %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = follow.user.username) }}">
                <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}">
                {{ follow.user.username }}
            </a>
        </td>
        <td>{{ moment(follow.timestamp).format('L') }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}